:host {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottomnav-flexbox {
    display: flex;
    justify-content: space-around;
}

.playback-buttons {
    width: 15vw;
    display: flex;
    justify-content: center;
}

.seekbar {
    width: 70vw;
    display: flex;
    justify-content: center;    
}

.volume {
    width: 15vw;
    display: flex;
    justify-content: center;
}

.seekbar mat-slider {
    flex: 0.95 1 auto;
}

.seekbar-current-time {
    padding-top: 7px;
    width: 5vw;
}