<mat-toolbar color="primary" mat-elevation-z8>
  <audio preload="metadata" id="musicplayer" [volume]="value"></audio>
  <mat-toolbar-row class="bottomnav-flexbox">
    <div class="playback-buttons">
      <button mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button (click)="togglePlayback()" mat-icon-button>
        <mat-icon>{{this.musicService.playbackStatusIcon}}</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="seekbar">
      <mat-slider min="0" [max]="seekbarMax" value="{{time}}"></mat-slider>
      <span class="seekbar-current-time">{{ this.musicService.currentTime2}}/{{this.musicService.length |
        seek}}</span>
    </div>
    <div class="volume">
      <button mat-icon-button (click)="toggleMute()">
        <mat-icon>{{muteStatus}}</mat-icon>
      </button>
      <mat-slider min="0" max="1.0" step="0.05" [value]="value" [disabled]="disabled" #sliderValue (change)="this.musicService.changeVolume(sliderValue.value)"></mat-slider>
    </div>
  </mat-toolbar-row>
</mat-toolbar>