:host {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottomnav-flexbox {
    display: flex;
    justify-content: space-around;
}

.playback-buttons {
    width: 15vw;
    display: flex;
    justify-content: center;
}

.seekbar {
    width: 70vw;
    display: flex;
    justify-content: center;    
}

.volume {
    width: 15vw;
    display: flex;
    justify-content: center;
}

@media(min-width: 720px) {
    .seekbar mat-slider {
    width: 55vw;
    }
}

.seekbar-current-time {
    padding-top: 7px;
    padding-left: 2px;
    width: 10vw;
}

.mobile-bottomnav {
    display: flex;
    justify-content: space-between;
}

.seekbar {
    width: 45vw;
}