:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-item {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.logincard {
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.75) !important;
    width: 300px;
}

.container matInput {
    flex: 1 1 auto;
}
.actionButtons {
    width: 100%;
}