:host {
  position: absolute;
  width: 100%;
}

.main-flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.song-table {
  width: 100%;
}

#song-table {
  color: white;
  background-color: #757575;
}

.filler {
  /* background-color: #f1f1f1; */
  flex: 1 1 auto;
  width: 10vw;
}

.tr-1 {
  cursor: pointer;
}

.tr-2 {
  color: white;
  background-color: #757575;
  cursor: pointer;
}

.data-row {
  cursor: pointer;
}

.input-box {
  width: 100%;
}

.song-list {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}

a, a:visited, a:hover, a:active {
  color: black;
}