:host {
  position: absolute;
  top: 64px;
  bottom: 64px;
  /* height: 100%; */
  width: 100%;
}

.main-flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.song-table {
  width: 100%;
}

#song-table {
  color: white;
  background-color: #757575;
}

.filler {
  background-color: #f1f1f1;
  flex: 1;
  width: 15vw;
}

.tr-1 {
  cursor: pointer;
}

.tr-2 {
  color: white;
  background-color: #757575;
  cursor: pointer;
}

.data-row {
  cursor: pointer;
}

.song-list {
  width: 70vw;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
