<div class="main-flexbox">
    <div class="filler"></div>
    <div class="song-list" color="accent">
        <table class="song-table">
            <tr class="song-table" id="song-table">
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
            <tr *ngFor="let song of this.musicService.songs, let i = index" (click)="play(i)" class="{{isOddOrEven(i)}}">
                <td>{{song['title']}}</td>
                <td>{{song['artist']}}</td>
                <td>{{song['album']}}</td>
            </tr>
        </table>
    </div>
    <div class="filler"></div>
</div>