<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-flexbox">
    <div class="input-box">
      <input>
    </div>
    <div class="toolbar-main-buttons">
      <button mat-raised-button color="accent" (click)="lol()">Menu</button>
    </div>
    <div class="toolbar-other-buttons">
      <button mat-button [matMenuTriggerFor]="menu">Zoremeth</button>
    </div>
    <mat-menu #menu>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>Settings
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>Log out
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>