.toolbar-flexbox {
    display: flex;
    justify-content: space-around;
}

.input-box input {
    border-radius: 5px;
    border-style: solid;
} 

.toolbar-main-buttons button {
    width: 10vw;
    margin-left: 2px;
    margin-right: 2px;
}

.input-box {
    width: 15vw;  
    display: flex;
    justify-content: center;  
}

.toolbar-main-buttons {
    width: 70vw;
    display: flex;
    justify-content: center;
}

.toolbar-other-buttons {
    width: 15vw;
    display: flex;
    justify-content: center;
}

:host {
    top: 0;
    position: absolute;
    width: 100%;
}

.current-user {
    margin: 0;
    padding-top: 4px;
}