<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-flexbox">
    <div class="input-box">
      <input>
    </div>
    <div class="filler"></div>
    <div class="toolbar-main-buttons">
      <span>
        <button mat-raised-button color="warn">Home</button>
      </span>
      <span>
        <button mat-raised-button color="warn">Songs</button>
      </span>
      <span>
        <button mat-raised-button color="warn">Artists</button >
      </span>
      <span>
        <button mat-raised-button color="warn">Playlists</button>
      </span>
      <span>
        <button mat-raised-button color="warn">Queue</button>
      </span>
    </div>
    <div class="filler"></div>
    <div class="toolbar-other-buttons">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <span>Zoremeth</span>
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
