<mat-toolbar color="primary" mat-elevation-z8>
  <mat-toolbar-row class="toolbar-flexbox">
    <div class="input-box">
      <input>
    </div>
    <div class="filler"></div>
    <div class="toolbar-main-buttons">
      <span>
        <button mat-raised-button color="accent" (click)="lol()">Home</button>
      </span>
      <span>
        <button mat-raised-button color="accent">Songs</button>
      </span>
      <span>
        <button mat-raised-button color="accent">Artists</button >
      </span>
      <span>
        <button mat-raised-button color="accent">Playlists</button>
      </span>
      <span>
        <button mat-raised-button color="accent">Queue</button>
      </span>
    </div>
    <div class="filler"></div>
    <div class="toolbar-other-buttons">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <p class="current-user">Zoremeth</p> 
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
