@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey, 600);
$secondary: mat-palette($mat-grey, 600);
$warn: mat-palette($mat-blue-grey, 600);

$misty-woods-theme: mat-light-theme($primary, $secondary, $warn);


